<table class="table">
    <tr>
        <th>{{ __('Language translation')}}</th>
        <th>{{ __('Status')}}</th>
    </tr>
    <tr><td>  {{ __('Zikula')}} </td> <td> <i class="fa fa-check-circle"></i></td></tr>
    <tr><td> {{ __('Zikula js')}} </td> <td>  <i class="fa fa-check-circle"></i></td></tr>
</table>		
